@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
/* .carousalBox {
  height: 300px;
  width: 800px;
} */
.carousalImgs {
  height: 160px;
  width: 200px;
}
.data {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-top: 5rem;
  }
  .data {
    font-size: 1.1rem;
    padding-bottom: 4rem;
  }
  .carousalBox {
    height: 100%;
    width: 180%;
  }
  .carousalImgs {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 5rem;
  }
  .data {
    font-size: 1.3rem;
    padding-bottom: 4rem;
  }
  .carousalBox {
    height: 100%;
    width: 180%;
  }
  .carousalImgs {
    height: 180px;
    width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    flex-direction: column;
    padding-top: 5rem;
  }
  .data {
    font-size: 1.5rem;
    padding-bottom: 4rem;
  }
  .carousalBox {
    height: 100%;
    width: 180%;
  }
  .carousalImgs {
    height: 180px;
    width: 180px;
  }
}
